* {
    --main: #1F2432;
    --blue: #0069B4;
    --grey: #33374E;
    --white: #FFFFFF;
    --dark-grey: #2C3242;
    --light-grey: #797B86;
    --background: #F6F8FA;

    color: var(--main);
    font-family: Lato, sans-serif;
}
